<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="mb-3">
  <%= f.label :email, class:"form-label" %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"exampleInputEmail1" %>
  </div>

  <div class="mb-3">
  <%= f.label :password, class:"form-label" %><br />
  <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id:"exampleInputPassword1" %>
  </div>
  
  <% if devise_mapping.rememberable? %>
    <div class="mb-3">
    <%= f.label :remember_me, class:"form-label" %><br />
    <%= f.check_box :remember_me, class:"form-check-input", id:"exampleCheck1" %>
    </div>
  <% end %>

  <div class="class="btn btn-primaryactions">
  <%= f.submit "Log in", class:"btn btn-primary" %>
  </div>
  <% end %>

  <br />
  <%= render "devise/shared/links" %>
  <br />
 

